DATABASE_URL=postgresql+asyncpg://docflow:docflow@db:5432/docflow
REDIS_URL=redis://redis:6379/0
LLM_API_KEY=# можно взять, например, на сайте https://openrouter.ai/, брал оттуда
LLM_MODEL=deepseek/deepseek-chat-v3-0324:free
LLM_BASE_URL=https://openrouter.ai/api/v1
EXTERNAL_API_BASE_URL=https://hr-api.bit-company.ru
EXTERNAL_API_KEY=# который в ТГ
UPLOAD_DIR=/app/uploads
LLM_RPM_LIMIT=15
